body{
    margin: 0;
    padding: 0;
    background-color: #021A2A;
}
canvas{
    display: none;
}
#question{
    width: 1340px;
    height: 380px;
    position: relative;
    left: 10px;
    top: 20px;
    background: #021A2A;
    border: 3px solid #2B9FE6;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .10s;
    cursor: default;
}
#question-no{
    cursor: default;
    width: 130px;
    height: 40px;
    border: 3px solid #2B9FE6;
    background: #021A2A;
    border-radius: 10px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
    left: 10px;
}
#next{
    width: 130px;
    height: 40px;
    background: #021A2A;
    border: 3px solid #2B9FE6;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}
#opt-A,#opt-B,#opt-C,#opt-D{
    cursor: pointer;
    width: 660px;
    height: 50px;
    background: #021A2A;
    border: 3px solid #2b9fe6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .20s;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#opt-A{
    position: relative;
    left: 10px;
    top: 60px;
}
#opt-B{
    position: relative;
    left: 690px;
    top: 5px;
}
#opt-C{
    position: relative;
    left: 10px;
    top: 20px;
}
#opt-D{
    position: relative;
    left: 690px;
    top: -35px;
}
#logged-out{
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: default;
    margin: 165% 0;
}
#log-in{
    width: 80px;
    height: 25px;
    position: absolute;
    top: 315px;
    text-align: center;
    left: 640px;
    border-radius: 5px;
    border: transparent;
    cursor: pointer;
    outline: none;
}
#all2{
    display: none;
}

#result{
    width: 360px;
    height: 400px;
    background: #021A2A;
    border: 3px solid #2B9FE6;
    border-radius: 15px;
    margin: 9% auto;
    box-shadow: 0 0 10px 10px rgba(255,255,255,0.09);
    z-index: 100;
    display: none;
}
#result-interior{
    position: relative;
    top: 50px;
}
#result-interior h1{
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}
#result-interior h3{
    position: relative;
    left: 40px;
    top: 35px;
    color:#fff;
    font-family: 'Courier New', Courier, monospace;
}
#incorrect-no,#correct-no,#percentage{
    position: absolute;
    right: 120px;
}

#colon1,#colon3{
    position: relative;
    left: 50px;
}
#colon2{
    position: relative;
    left: 28px;
}
#retry{
    width: 115px;
    height: 50px;
    border-radius: 10px;
    background: #021A2A;
    border: 3px solid #2B9FE6;
    color: #fff;
    position: relative;
    left: 63px;
    top: 40px;
    cursor: pointer;
    z-index: 100;
}
#sne{
    width: 115px;
    height: 50px;
    border-radius: 10px;
    background: #021A2A;
    border: 3px solid #2B9FE6;
    color: #fff;
    position: relative;
    left: 68px;
    top: 40px;
    cursor: pointer;
}
#retry:hover, #sne:hover{
    background:#2B9FE6;
}
