body{
    margin: 0;
    padding: 0;
    background: url(back.png);
    background-size: cover;
    background-position: center;
}
canvas{
    display: none;
}

.container{
    width: 360px;
    height: 657px;
    background: rgba(255, 255, 255, 1);
    margin: auto;
    position: relative;
    top: 0px;
    border-radius: 5px;
    overflow: hidden;
    transition: .10s;
}

#nav-bar{
    width: 100%;
    height: 55px;
    background: #fff;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
    border-bottom: 4px solid black;
    font-family: sans-serif;
}

#nav-bar h2{
    position: absolute;
    top: -5px;
    left: 145px;
    cursor: default;
}

.buttons1, .buttons2, .buttons3, .buttons4, .buttons5, .buttons6{
    cursor: pointer; 
    position: relative;
    left: 5%;
    width: 90%;
    margin: 10px 0px;
    padding: 25px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px 5px black;
    transition: .30s;
}
.buttons1:hover, .buttons2:hover, .buttons3:hover, .buttons4:hover, .buttons5:hover, .buttons6:hover{
    box-shadow: 0 5px 5px 2px black;
}
#button1{
    background: url(lakshadweep.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button2{
    background: url(Chandigarh.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button3{
    background: url(Puducherry.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button4{
    background: url(DadraHaveli.jpg);
    background-position: center;
    background-position-y: 750px;
    background-size: cover;
    color: #fff;
}
#button5{
    background: url(delhi.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button6{
    background: url(andamanandnicobar.jpg);
    background-size: cover;
    background-position: center;
    color: #000;
}
#button8{
    background: url(ladakh.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button7{
    background: url(jammuAndKashmir.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button9{
    background: url(goa.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button10{
    background: url(sikkim.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button11{
    background: url(tripura.png);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button12{
    background: url(nagaland.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button13{
    background: url(mizoram.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button14{
    background: url(manipur.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button15{
    background: url(meghalaya.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button16{
    background: url(kerala.jpg);
    background-size: cover;
    background-position: bottom;
    color: #fff;
}
#button17{
    background: url(haryana.jpg);
    background-size: cover;
    background-position: center;
    color: #000;
}
#button18{
    background: url(Punjab.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button19{
    background: url(uttarakhand.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button20{
    background: url(himachalPradesh.jpg);
    background-size: cover;
    background-position: center;
    color: #000;
}
#button21{
    background: url(assam.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button22{
    background: url(jharkhand.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button23{
    background: url(arunachalPradesh.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button24{
    background: url(westBengal.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button25{
    background: url(bihar.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button26{
    background: url(telangana.jpg);
    background-size: cover;
    background-position: center;
    color: #000;
}
#button27{
    background: url(tamilNadu.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button28{
    background: url(chattisgarh.jpg);
    background-size: cover;
    background-position: center;
    color: #000;    
}
#button29{
    background: url(odisha.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button30{
    background: url(andhraPradesh.jpg);
    background-size: cover;
    background-position: bottom;
    color: #fff;
}
#button31{
    background: url(karnataka.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button32{
    background: url(gujrat.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: 335px;
    color: #fff;
}
#button33{
    background: url(UP.jpg);
    background-size: cover;
    background-position-y: 350px;
    color: #fff;
}
#button34{
    background: url(Maharastra.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button35{
    background: url(madhyaPradesh.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#button36{
    background: url(rajasthan.jpg);
    background-size: cover;
    background-position: center;
    color: #000;
}
.buttons2{
    position: relative;
    top: -595px;
    left: 400px;
}
.buttons3{
    position: relative;
    top: -1190px;
    left: 400px;
}
.buttons4{
    position: relative;
    top: -1785px;
    left: 400px;
}
.buttons5{
    position: relative;
    top: -2380px;
    left: 400px;
}
.buttons6{
    position: relative;
    top: -2975px;
    left: 400px;
}

#Next1,#Back1, #Next2,#Back2, #Next3,#Back3, #Next4,#Back4, #Next5,#Back5{
    width: 75px;
    height: 30px;
    position: absolute;
    background: #2fff9f;
    border-radius: 5px;
    border: 0.5px solid black;
    cursor: pointer;
}

#Next1,#Next2,#Next3,#Next4,#Next5{
    left: 94.2%;
}
#Back1,#Back2,#Back3,#Back4,#Back5{
    left: 0.5%;
    display: none;
}
#Next2,#Next3,#Next4,#Next5{
    display: none;
}

#pop-up{
    width: 125px;
    height: 30px;
    background: #f00;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: sans-serif;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    margin: 0 auto;
    left: 620.5px;
    top: -120px;
    z-index: 5000;
    transition: .40s;
    cursor: default;
}

#logged-out{
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#logged-out{
    cursor: default;
    margin: 165% 0;
}
#log-in{
    width: 80px;
    height: 25px;
    position: absolute;
    top: 315px;
    text-align: center;
    left: 640px;
    border-radius: 5px;
    border: transparent;
    cursor: pointer;
    outline: none;
}
#all2{
    display: none;
}
#profile{
    width: 50px;
    height: 50px;
    position: relative;
    top: 4px;
    left: 5px;
    cursor: pointer;
}
#home{
    position: absolute;
    left: 5px;
    top: 4px;
    width: 50px;
    height: 50px;
    display: none;
    cursor: pointer;
}