body{
    margin: 0;
    padding: 0;
    background: url(flag.jpg);
    background-size: cover;
}

canvas{
  display: none;
}

.container{
    width: 360px;
    height: 450px;
    background: #fff;
    margin: 7.5% auto;  
    border-radius: 10px;
    font-family: sans-serif;
  }
  h3{
    text-align: center;
    color: #777;
    margin-bottom: 40px;
  }
  .container form{
    width: 280px;
    position: relative;
    top: 100px;
    left: 40px;
  }
  form input{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
  }
  #open1{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 117px;
    cursor: pointer;
    left: 250px;
    display: none;
  }
  #closed1{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 112px;
    cursor: pointer;
    left: 248px;
  }
  #open2{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 162px;
    cursor: pointer;
    left: 250px;
    display: none;
  }
  #closed2{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 157px;
    cursor: pointer;
    left: 248px;
  }
  #submit{
    width: 103%;
    padding: 10px 5px;
    margin: 10px 0;
    border-radius: 50px;
    position: relative;
    background: linear-gradient(to right, red, orange, yellow, orange, red);
    border: none;
    cursor: pointer;
    font-size: 15px;
    outline: none;
    color: #000;
  }
  #submit:hover{
    border: 1.5px solid black;
  }

  #exclamation{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 68px;
    left: 245px;
    display: none;
  }

  #exclamation2{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 115px;
    left: 245px;
    display: none;
  }

  #warning1{
    position: absolute;
    color: red;
    top: 125px;
    display: none;
  }

  #warning2{
    position: absolute;
    top: 170px;
    color: red;
    display: none;
  }

  #special{
    position: absolute;
    color: red;
    top: 80px;
    display: none;
  }
  #alert{
    position: absolute;
    color: red;
    top: 126px;
    display: none;
  }
  #alert2{
    color: red;
    position: absolute;
    top: 80px;
    display: none;
  }